
h1 {
    font-size: 50;
    padding-top: 20px;
    text-align: center;
    color: wheat;
}

#sub{
    margin: 20;
    padding: 5;
    font-size: 20;
}

.header{
    font-family: monospace;
    margin: 0;
    margin-bottom: 50;
    height: 100;
    width: auto;
    background-color: black;
}


.video{
    padding: 40;
    text-align: center; 
}
.form{
    margin: 100;
    padding: 40;
    text-align: center; 
}


#file{
    color: red;
}


.nextprevious{
    text-align: center;   
}

.btn{
    padding: 30;
}