
h1 {
    font-size: 50;
    padding-top: 20px;
    text-align: center;
    color: wheat;
}

#sub{
    margin: 20;
    padding: 5;
    font-size: 20;
}

.header{
    font-family: monospace;
    margin: 0;
    margin-bottom: 50;
    height: 100;
    width: auto;
    background-color: black;
}


.video{
    padding: 40;
    text-align: center; 
}
.form{
    margin: 100;
    padding: 40;
    text-align: center; 
}


#file{
    color: red;
}


.nextprevious{
    text-align: center;   
}

.btn{
    padding: 30;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* max-width: 00px; */
  margin: auto;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.8;
}